<h1 class="text-center mt-4">Lets go to space</h1>
<p class="lead mb-3">Hello <%= user.name %></p>
<a href="/users/logout" class="btn btn-danger">Logout</a>
<a href="https://amaziahc.github.io/spacecraft-web/" class="btn btn-primary">Continue to site</a>